<header>
  <!--Top-->
  <nav id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong>Welcome to Us!</strong>
        </div>
        <div class="col-md-6">
          <ul class="list-inline top-link link">
            <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="contact.html"><i class="fa fa-comments"></i> Contact</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i> FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div> DATE : {{ today | date:'fullDate' }} </div>

<div class="navbar container marquee-row">
  <marquee scrollamount="2" scrolldelay="1" behavior="scroll" direction="left">
    <ul>
      <li>
        <i class="fa fa-hand-o-right"></i>
        <a href="#">কাশ্মীরে ৬ পুলিশকে হত্যার পর লাশ বিকৃত করল জঙ্গিরা</a>
      </li>

      <li>
        <i class="fa fa-hand-o-right"></i>
        <a href="#">দেশে ফিরেছেন প্রধানমন্ত্রী</a>
      </li>

      <li>
        <i class="fa fa-hand-o-right"></i>
        <a href="#">বিমান হামলায় আইএস নেতা বাগদাদী নিহত, দাবি রাশিয়ান সেনাবাহিনীর</a>
      </li>
    </ul>
  </marquee>
</div>



  <!--Navigation-->
  <nav id="menu" class="navbar container">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      <a class="navbar-brand" href="#">
        <div class="logo"><span>Newspaper</span></div>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">বাংলাদেশ</a></li>
        <li><a href="archive.html">খেলা</a></li>
        <li><a href="contact.html">বিনোদন</a></li>
        <li><a href="contact.html">বিজ্ঞান ও প্রযুক্তি</a></li>
        <li><a href="contact.html">ভিডিও</a></li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-arrow-circle-o-down"></i></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">
              <ul class="list-unstyled">
                <li><a href="archive.html">Login</a></li>
                <li><a [routerLink]="['/add-post']">Add Post</a></li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="list-inline navbar-right top-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </nav>
</header>