<header>
  <!--Top-->
  <nav id="top">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <strong>Welcome to Us!</strong>
        </div>
        
        <div class="col-md-4">
          <strong>{{ today | date:'fullDate' }}</strong>
        </div>

        <div class="col-md-4">
          <ul class="list-inline top-link link">
            <li><a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fa fa-comments"></i> Contact</a></li>
            <li><a href="#"><i class="fa fa-question-circle"></i> FAQ</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


<div class="navbar container marquee-row">
  <marquee scrollamount="8" scrolldelay="1" behavior="scroll" direction="left">
    <ul>
      <li *ngFor="let hot of hotnews">
        <i class="fa fa-hand-o-right"></i>
        <a href="#">{{hot.title}}</a>
      </li>

    </ul>
  </marquee>
</div>



  <!--Navigation-->
  <nav id="menu" class="navbar container">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
      <a class="navbar-brand" [routerLink]="['/']">
        <div class="logo"><span>Newspaper</span></div>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">বাংলাদেশ</a></li>
        <li><a href="#">খেলা</a></li>
        <li><a href="#">বিনোদন</a></li>
        <li><a href="#">বিজ্ঞান ও প্রযুক্তি</a></li>
        <li><a href="#">ভিডিও</a></li>

        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <i class="fa fa-arrow-circle-o-down"></i></a>
          <div class="dropdown-menu">
            <div class="dropdown-inner">
              <ul class="list-unstyled">
                <li><a href="#">Login</a></li>
                <li><a [routerLink]="['/add-post']">Add Post</a></li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
      <ul class="list-inline navbar-right top-social">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      </ul>
    </div>
  </nav>
</header>