<a [routerLink]="['/']">Back</a>
<br />
<h2>Add Post</h2>
<form (submit)="onAddSubmit()">

  <div>
    <label>Title</label>
    <input  type="text" [(ngModel)]="title" name="title" required>
  </div>

  <div >
    <label>Description</label>
    <input  type="textarea" [(ngModel)]="description" name="description" required>
  </div>

  <div >
    <label>Type</label>
    <select  type="text" [(ngModel)]="type" name="type" required>
      <option value="বাংলাদেশ">বাংলাদেশ</option>
      <option value="খেলা">খেলা</option>
      <option value="বিনোদন">বিনোদন</option>
      <option value="বিজ্ঞান ও প্রযুক্তি">বিজ্ঞান ও প্রযুক্তি</option>
      <option value="ভিডিও">ভিডিও</option>
    </select>
  </div>

  <div >
    <label>Image Link</label>
    <input  type="text" [(ngModel)]="imageUrl" name="imageUrl" required>
  </div>

  <div >
    <label>Youtube Link</label>
    <input  type="text" [(ngModel)]="youtubeUrl" name="youtubeUrl" required>
  </div>

  <input type="submit" value="submit" class="btn btn-success">
</form>